@media only screen and (min-width: 200px) and (max-width: 576px) {
    body {
        margin: 0px 1px;
        padding-left: 2px;
        background-color: rgb(36, 35, 35);
    }
    #navbar-section{
        margin: 0px 5px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .navbar {
        justify-content: center;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        /* color: white; */
    }

    .info-bio h1{
        font-size: 25px;
    }
    .info-text{
        font-size: 10px;
    }
    .cv-download {
        width: 140px;
    }
    .hireme{
        margin-left: 80px;
    }
    .bio {
        flex-direction: column;
    }

    .myself-div {
        flex-direction: column;
    }

    .skill {
        flex-direction: column;
        align-items: center;
    }
    .social-media{
        margin-bottom: 20px;
        margin-left: 95px;
    }
    .experience {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .job-experience{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 60px;
    }
    .awards{
        display: inline;
    }
    .awards-heading h1{
        position: relative;
        top: 5%;
        left: 5%;
    }
    .awards-heading p{
        position: relative;
        top: 5%;
        left: 5%;
    }
    .ux-items{
        margin: 0px 0px;
        flex-direction: column;
        align-items: center;
    }
    .contact-me{
        padding: 0px 5px;
        margin: 4px 0px;
    }
    .contact-me h1{
        font-size: 20px;
    }
    .contact-me h3{
        font-size: 15px;
    }
    .name{
        width: 80px;
    }
}